services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./tokens/gitea.txt:/etc/prometheus/gitea_token.txt:ro

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    user: 0:0
    ports:
      - "8105:3000"
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana.ini:/etc/grafana/grafana.ini

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    ports:
      - "9103:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
