services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - ./redisdata:/data

  db:
    image: docker.io/library/postgres:17
    restart: unless-stopped
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    user: 0:0
    depends_on:
      - db
      - broker
      - gotenberg
      - tika
    ports:
      - "8104:8000"
    volumes:
      - ./data:/usr/src/paperless/data
      - ./media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    env_file: .env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      PAPERLESS_DBPASS: ${POSTGRES_PASSWORD}
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_ENABLE_ALLAUTH: true
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: >
        {
          "openid_connect": {
            "APPS": [
              {
                "provider_id": "authentik",
                "name": "authentik",
                "client_id": "paperless",
                "secret": "${PAPERLESS_OIDC_CLIENT_SECRET}",
                "settings": {
                  "server_url": "https://auth.home.paillaugue.fr/application/o/paperless/.well-known/openid-configuration",
                  "claims": {"username": "email"}
                }
              }
            ],
            "OAUTH_PKCE_ENABLED": "True"
          }
        }
      PAPERLESS_AUTO_LOGIN: true
      PAPERLESS_AUTO_CREATE: true
      PAPERLESS_LOGOUT_REDIRECT_URL: "https://auth.home.paillaugue.fr/application/o/paperless/end-session/"

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.22
    restart: unless-stopped
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

  tika:
    image: docker.io/apache/tika:latest
    restart: unless-stopped

  exporter:
    image: ghcr.io/hansmi/prometheus-paperless-exporter:latest
    restart: on-failure
    init: true
    ports:
      - 8084:8081
    env_file: .env
    environment:
      PAPERLESS_SERVER_TIMEZONE: ${PAPERLESS_TIME_ZONE}
      PAPERLESS_AUTH_TOKEN_FILE: /etc/exporter/auth-token.txt
    volumes:
      - ./exporter-config/:/etc/exporter:ro
