services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped
    ports:
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - /mnt/storage/docker:/mnt/storage/docker
    environment:
      - DOCKGE_STACKS_DIR=/mnt/storage/docker
      - DOCKGE_ENABLE_CONSOLE=true
